---
const services = [
  {
    image: "https://www.svgrepo.com/show/304765/wedding.svg",
    title: "Bodas",
    description:
      "Pueden ser desde 40 hasta 120 personas, ideal para parejas que buscan hacer su boda en un lugar natural, acogedor, rústico y sobretodo mágico, aquí te asesoramos en cada uno de los detalles desde escoger la paleta ideal de colores, proveedores excelentes en el mercado de bodas de Quito, además de puesta en escena de prototipo de decoración, contarás con una persona que te guíe y asesore en todo momento, además, de contar con una gastronomía excelente y variada.  Contamos un área de ceremonias en donde podrás elegir el concepto y estilo que desees o si gustas tenemos una iglesia a 5 minutos de la quinta. ",
  },
  {
    image: "https://www.svgrepo.com/show/275627/wedding-contract-marriage.svg",
    title: "Bodas civiles",
    description:
      "De 30 a 50 personas adultas en donde puedes escoger hacer de tu boda civil una pequeña reunión con tus más allegados o hacer una celebración de 50 a 120 personas adultas por todo lo alto como es el mágico mundo de las bodas, para ello te recomendamos hacer una boda especial y romántica. ",
  },
  {
    image: "https://www.svgrepo.com/show/404839/birthday-cake.svg",
    title: "Quince años",
    description:
      "Desde 50 a 120 personas, ideal para las quinceañeras y familias que deseen una celebración por todo lo alto con fiesta, presentación de un delicioso menú 4 tiempos, escoger una paleta de colores de acuerdo a su estilo. Uso exclusivo de las instalaciones, además, cuentan con la asesoría de una event planner que les apoye en la coordinación de cada detalle a la quinceañera y a sus padres. ",
  },
  {
    image: "https://www.svgrepo.com/show/402297/party-popper.svg",
    title:
      "Eventos sociales (Primeras Comuniones - Bautizos - Graduaciones - Cumpleaños)",
    description:
      "Eventos desde 50 a 120 personas, ideal para familias que deseen una celebración por todo lo alto, con un menú exquisito 4 tiempos, fiesta, música, baile y diversión con todos sus seres queridos. Uso exclusivo de las instalaciones, además, cuentan con la asesoría de una event planner que les apoye en la coordinación de este día importante. ",
  },
  {
    image: "https://www.svgrepo.com/show/492698/people-who-support.svg",
    title: "Events Petit ",
    description:
      "Almuerzos desde 30 hasta 50 personas adultas, uso de las instalaciones por 4 horas en donde destaque un menú delicioso en el campo, en mesas de madera tipo picnic y puedas compartir junto a tu familia o amigos, ideal para las familias que desean una reunión familiar sencilla y compartir un pequeño momento junto a sus seres queridos.",
  },
];
---

<section
  class="landing-section bg-[#d0cecb] w-screen text-center overflow-hidden relative"
  id="services"
>
  <div class="container my-10 mx-auto md:px-6">
    <!-- Section: Design Block -->
    <section class="mb-32 text-center lg:text-left">
      <h2
        class="mb-12 text-center text-3xl font-bold text-[#556d5f] font-[Georgia]"
      >
        Servicios
      </h2>
      <div class="md:max-h-full">
        <div class="">
          <div
            class="grid md:grid-cols-3 max-w-screen-lg mx-auto gap-10 mt-16 px-5"
          >
            {
              services.map((service) => (
                <div class="flex gap-4 items-start flex-col ">
                  <span class="text-[#d5b4b1] bg-[#f0dedc] p-3 rounded-full">
                    <img
                      src={service.image}
                      class="w-12 mx-auto"
                      width="512"
                      height="512"
                      alt="burger illustration"
                    />
                  </span>
                  <div>
                    <h3 class="font-semibold text-xl font-[Georgia]"> {service.title}</h3>
                    <p class="mt-1 text-gray-500 text-justify font-[Georgia]"> {service.description}</p>
                  </div>
                </div>
              ))
            }

            

          <!-- <div
            class="w-full mt-16 grid divide-x divide-y divide-[#d0cecb] dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4"
          >
          {
            services.map(service => 
            <div
              class="group relative bg-[#d0cecb] transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
            >
              <div class="relative space-y-8 py-12 p-8">
                <img
                  src={service.image}
                  class="w-12 mx-auto"
                  width="512"
                  height="512"
                  alt="burger illustration"
                />

                <div class="space-y-2">
                  <h5
                    class="text-xl text-center font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary font-[Georgia]"
                  >
                    {service.title}
                  </h5>
                  <p class="text-gray-600 dark:text-gray-300 font-[Georgia] text-justify">
                    {service.description}
                  </p>
                </div>
                
              </div>
            </div>
            )
          }
            
          </div> -->
        </div>
      </div>
    </section>
    <!-- Section: Design Block -->
  </div>
</section>
