---
const services = [
  {
    image: "/img/events/services/boda.jpeg",
    title: "Bodas",
    description:
      "Un lugar de ensueño en medio de la naturaleza en donde podrás realizar tu boda, te asesoramos en cada detalle, contamos con el personal capacitado y la infraestructura adecuada para hacer de tu evento un día mágico.",
  },
  {
    image: "/img/events/services/social.jpeg",
    title: "Eventos sociales",
    description:
      "Ideal para las familias que desean realizar cualquier tipo de evento social como: Bautizos o Baby showers hasta cumpleaños o graduaciones. ",
  },
  {
    image: "/img/events/services/petit.jpeg",
    title: "Petit Events",
    description:
      "Perfecto para quienes desean una celebración sencilla, con detalles y pasar un momento íntimo con sus seres queridos. Ideal para grupos de 30 a 50 personas.",
  },
  
];


---

<section
  class="landing-section bg-[#d5b4b1] w-screen text-center overflow-hidden relative"
  id="services"
>
  <div class="container my-10 mx-auto md:px-6">
    <div class="max-w-6xl px-5 mx-auto mt-16 mb-10 md:mt-10 md:mb-2 text-center">
      <h2 class="text-4xl font-bold text-center text-darkBlue text-[#556d5f] font-[Georgia]">
        Servicios
      </h2>
    </div>
    <section class="p-4 lg:p-8 dark:bg-gray-800 dark:text-gray-100">
      <div class="container mx-auto space-y-12">
       
        <div class="bg-[#86a392] flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row">
          <img src={services[0].image} alt="" class="w-[900px] aspect-video">
          <div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
            
            <h3 class="text-3xl font-bold font-[Georgia]">{services[0].title}</h3>
            <p class="my-6 dark:text-gray-400">{services[0].description}</p>
            
          </div>
        </div>

        <div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row-reverse bg-[#86a392] ">
          <img src={services[1].image} alt="" class="w-[900px] aspect-video">
          <div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
           
            <h3 class="text-3xl font-bold font-[Georgia]">{services[1].title}</h3>
            <p class="my-6 dark:text-gray-400">{services[1].description}</p>
      
          </div>
        </div>

        <div class="flex flex-col overflow-hidden rounded-md shadow-sm lg:flex-row bg-[#86a392] ">
          <img src={services[2].image} alt="" class="w-[900px] aspect-video">
          <div class="flex flex-col justify-center flex-1 p-6 dark:bg-gray-900">
         
            <h3 class="text-3xl font-bold font-[Georgia]">{services[2].title}</h3>
            <p class="my-6 dark:text-gray-400">{services[2].description}</p>
          </div>
        </div>

      </div>
    </section>

  </div>
</section>
